<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174555062696-2oaq1iiuasb1i2acm4fugjepbd9s84tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174555062696-2oaq1iiuasb1i2acm4fugjepbd9s84tj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174555062696-a1inov7r0oluas7os4kfqa909uc0bjjb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK0scFsWRFvfOxutlPLxlXpI48T1gyCXw</string>
	<key>GCM_SENDER_ID</key>
	<string>174555062696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstApp</string>
	<key>PROJECT_ID</key>
	<string>flutterhack-83b12</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhack-83b12.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174555062696:ios:32404f7a3249c1491dbd9d</string>
</dict>
</plist>